.c-logo {
  display: block;
  height: 50px;
  width: 136px;
  background: url(../images/logo.svg) no-repeat;
  background-size: 100%;
  color: transparent;
  font-size: 0;
  line-height: 0;

  &--negative {
    background-image: url(../images/logo-negative.svg);
  }
}