.is-hidden {
  display: none !important;
}

.is-hidden--small-up {
  display: block !important;

  @include breakpoint(s) {
    display: none !important;
  }
}

.is-hidden--medium-up {
  display: block !important;

  @include breakpoint(m) {
    display: none !important;
  }
  @include breakpoint(l) {
    display: none !important;
  }
  @include breakpoint(xl) {
    display: none !important;
  }
  @include breakpoint(xxl) {
    display: none !important;
  }
}

.is-hidden--large-up {
  display: block !important;

  @include breakpoint(l) {
    display: none !important;
  }
  @include breakpoint(xl) {
    display: none !important;
  }
  @include breakpoint(xxl) {
    display: none !important;
  }
}

.is-visible {
  display: block !important;
}
.is-visible--small-up {
  display: none !important;

  @include breakpoint(s) {
    display: block !important;
  }
}
.is-visible--medium-up {
  display: none !important;

  @include breakpoint(m) {
    display: block !important;
  }
}
.is-visible--large-up {
  display: none !important;

  @include breakpoint(l) {
    display: block !important;
  }
}

table .is-visible--medium-up {
  display: none !important;

  @include breakpoint(m) {
    display: table-cell !important;
  }
}
