.o-guided-content {
  @include breakpoint(l) {
    display: flex;
    flex-direction: row;
  }

  &__guide {
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 320px;
    transform: translateX(-100%);
    transition: transform .3s;

    @include breakpoint(l) {
      flex: 0 0 30%;
      height: auto;
      margin-right: get-spacing-inset(l);
      padding-right: get-spacing-inset(l);
      position: static;
      width: auto;
      border-right: $border-width solid $border-color;
      transform: none;
    }

    &.is-active {
      transform: translateX(0);
    }
  }
  &__content {
    margin-top: get-spacing-stack(m);

    @include breakpoint(l) {
      margin-top: 0;
      width: 0 0 70%;
    }
  }
}